<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />    
    </system.web>
  <connectionStrings>
    <add name="dbSQL1ConnectionString" connectionString="Data Source=.;Initial Catalog=dbUrology; Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="dbUrologyConnectionString" connectionString="Data Source=.;Initial Catalog=dbUrology;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
